<a href="https://colab.research.google.com/github/MaximeLauwers/-D012513A_Python_20230124/blob/main/Practical%20Python%20Specialized%20Bioinformatics%2020230124.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practical Python Specialized Bioinformatics

#### 24/01/2023

For this exam you are asked to complete the Python code between the 

```
#start code here

#end code here
```

comments. 

A direct question needs to be answered in the text field just below the question.

Don't forget to periodically save your work to your GitHub repository. 

Please write your name and studentnumber in the text box below:

### Name: Maxime Lauwers

### Number: 01907439

### Total points:    / 25

In [1]:
import warnings;
warnings.filterwarnings('ignore');

import pandas as pd

**question 1 (2pts)**

Create a Pandas DataFrame called `patients` that looks like this:

|           | gene_1 | gene_2 |
|-----------|--------|--------|
| patient_1 | 0.54   | 0.32   |
| patient_2 | 0.66   | 0.10   |

In [2]:
#start code here

patients = pd.DataFrame({'gene_1': [0.54, 0.66], 'gene_2': [0.32, 0.10]}, index=['patient_1', 'patient_2'])

#end code here

patients

           gene_1  gene_2
patient_1    0.54    0.32
patient_2    0.66    0.10

**question 2 (1pt)**

Use the Pandas DataFrame `.head()` function to print the first row of the `patients` DataFrame.

In [4]:
#start code here
patients.head(1)
#end code here

           gene_1  gene_2
patient_1    0.54    0.32

The following code loads the dataset we will use for this exam.

In [5]:
from sklearn.datasets import load_breast_cancer
dataset = load_breast_cancer(as_frame=True).frame
dataset.rename(columns = {'target':'label'}, inplace = True)

**question 3 (1pt)**
    
Print the number of rows and columns in the `dataset` DataFrame.

In [20]:
#start code here
rows = dataset.shape[0]
columns = dataset.shape[1]
print("Number of rows = {}".format(rows))
print("Number of columns = {}".format(columns))
#end code here

Number of rows = 569
Number of columns = 31

**question 4 (1pt)**

Print the column `label` from the `dataset` DataFrame. Don't use `.loc` or `.iloc`.

In [21]:
#start code here
print(dataset["label"])
#end code here

0      0
1      0
2      0
3      0
4      0
      ..
564    0
565    0
566    0
567    0
568    1
Name: label, Length: 569, dtype: int64

**question 5 (1pt)**

Print the column `label` from the `dataset` DataFrame using `.loc`.

In [23]:
#start code here
print(dataset.loc[:, 'label'])
#end code here

0      0
1      0
2      0
3      0
4      0
      ..
564    0
565    0
566    0
567    0
568    1
Name: label, Length: 569, dtype: int64

**question 6 (1pt)**

Print the column `label` from the `dataset` DataFrame using `.iloc`.

In [27]:
#start code here
print(dataset.iloc[:, -1])
#end code here

0      0
1      0
2      0
3      0
4      0
      ..
564    0
565    0
566    0
567    0
568    1
Name: label, Length: 569, dtype: int64

**question 7 (1pt)**

Print the label of the third row in the `dataset` DataFrame.

In [28]:
#start code here
print(dataset.label[3])
#end code here

0

**question 8 (1pt)**

Print the subset of the `dataset` DataFrame that only contains the columns in the Python list `cols_to_print`. You have to use the `cols_to_print` list in the code that creates the subset.

In [37]:
cols_to_print = ['mean area','mean concavity','mean symmetry','label']

#start code here
print(dataset.loc[:, cols_to_print])
#end code here

     mean area  mean concavity  mean symmetry  label
0       1001.0         0.30010         0.2419      0
1       1326.0         0.08690         0.1812      0
2       1203.0         0.19740         0.2069      0
3        386.1         0.24140         0.2597      0
4       1297.0         0.19800         0.1809      0
..         ...             ...            ...    ...
564     1479.0         0.24390         0.1726      0
565     1261.0         0.14400         0.1752      0
566      858.1         0.09251         0.1590      0
567     1265.0         0.35140         0.2397      0
568      181.0         0.00000         0.1587      1

[569 rows x 4 columns]

**question 9 (2pts)**

Print all the rows in the `dataset` DataFrame with `mean symmetry` > 0.2 and `label` equal to 1.

In [58]:
#start code here

lable = dataset.loc[dataset.label == 1]
symmetry = dataset["mean symmetry"].loc[dataset["mean symmetry"] > 0.2]
#end code here

**question 10 (2pts)**

Print the median of the `area error` column in `dataset` for all rows with `label` equal to 1.

In [50]:
#start code here
print(lable["area error"].median())
#end code here

19.63

**question 11 (3pts)**

Create a Pandes Series called `mean_area_ordinal` that, for each row in `dataset`, contains the value `low` if the value for `mean area` is within [0,420[, the value `middle` if the value for `mean area` is within [420,550[ and the value `high` if the value for `mean area` is larger of equal to 550. Use the `.apply()` function.

In [ ]:
#start code here
mean_area_ordinal = pd.Series([])
#end code here

print(mean_area_ordinal)

**question 12 (1pt)**

Write one line of code that shows how many datapoints in `mean_area_ordinal` have value `high`, how many have value `middle` and how many have value `low`.

In [ ]:
#start code here
mean_area_ordinal.value_counts() 
#end code here

**question 13 (2pts)**

To prepare for Scikit-learn model fitting we need to keep the feature vectors and the label separate. Create a variable `X` that contains all the 30 features in `dataset` and a variable `y` that contains the label.

In [61]:
#start code here

X = dataset.iloc[:, :-1]
y = dataset.iloc[:, -1]

#start code here

print(X.shape)
print(y.shape)

(569, 30)
(569,)

**question 14 (1pt)**

Use the Scikit-learn `StandardScaler` to standardize the feature values in `X` (assign the result to `X_norm`).

In [62]:
from sklearn.preprocessing import StandardScaler

#start code here

X_norm = pd.DataFrame(StandardScaler().fit_transform(X),columns=X.columns)

#start code here

print(X_norm)

     mean radius  mean texture  mean perimeter  mean area  mean smoothness  \
0       1.097064     -2.073335        1.269934   0.984375         1.568466
1       1.829821     -0.353632        1.685955   1.908708        -0.826962
2       1.579888      0.456187        1.566503   1.558884         0.942210
3      -0.768909      0.253732       -0.592687  -0.764464         3.283553
4       1.750297     -1.151816        1.776573   1.826229         0.280372
..           ...           ...             ...        ...              ...
564     2.110995      0.721473        2.060786   2.343856         1.041842
565     1.704854      2.085134        1.615931   1.723842         0.102458
566     0.702284      2.045574        0.672676   0.577953        -0.840484
567     1.838341      2.336457        1.982524   1.735218         1.525767
568    -1.808401      1.221792       -1.814389  -1.347789        -3.112085

     mean compactness  mean concavity  mean concave points  mean symmetry  \
0            3.283515        2.652874             2.532475       2.217515
1           -0.487072       -0.023846             0.548144       0.001392
2            1.052926        1.363478             2.037231       0.939685
3            3.402909        1.915897             1.451707       2.867383
4            0.539340        1.371011             1.428493      -0.009560
..                ...             ...                  ...            ...
564          0.219060        1.947285             2.320965      -0.312589
565         -0.017833        0.693043             1.263669      -0.217664
566         -0.038680        0.046588             0.105777      -0.809117
567          3.272144        3.296944             2.658866       2.137194
568         -1.150752       -1.114873            -1.261820      -0.820070

     mean fractal dimension  ...  worst radius  worst texture  \
0                  2.255747  ...      1.886690      -1.359293
1                 -0.868652  ...      1.805927      -0.369203
2                 -0.398008  ...      1.511870      -0.023974
3                  4.910919  ...     -0.281464       0.133984
4                 -0.562450  ...      1.298575      -1.466770
..                      ...  ...           ...            ...
564               -0.931027  ...      1.901185       0.117700
565               -1.058611  ...      1.536720       2.047399
566               -0.895587  ...      0.561361       1.374854
567                1.043695  ...      1.961239       2.237926
568               -0.561032  ...     -1.410893       0.764190

     worst perimeter  worst area  worst smoothness  worst compactness  \
0           2.303601    2.001237          1.307686           2.616665
1           1.535126    1.890489         -0.375612          -0.430444
2           1.347475    1.456285          0.527407           1.082932
3          -0.249939   -0.550021          3.394275           3.893397
4           1.338539    1.220724          0.220556          -0.313395
..               ...         ...               ...                ...
564         1.752563    2.015301          0.378365          -0.273318
565         1.421940    1.494959         -0.691230          -0.394820
566         0.579001    0.427906         -0.809587           0.350735
567         2.303601    1.653171          1.430427           3.904848
568        -1.432735   -1.075813         -1.859019          -1.207552

     worst concavity  worst concave points  worst symmetry  \
0           2.109526              2.296076        2.750622
1          -0.146749              1.087084       -0.243890
2           0.854974              1.955000        1.152255
3           1.989588              2.175786        6.046041
4           0.613179              0.729259       -0.868353
..               ...                   ...             ...
564         0.664512              1.629151       -1.360158
565         0.236573              0.733827       -0.531855
566         0.326767              0.414069       -1.104549
567         3.197605              2.289985        1.919083
568        -1.305831             -1.745063       -0.048138

     worst fractal dimension
0                   1.937015
1                   0.281190
2                   0.201391
3                   4.935010
4                  -0.397100
..                       ...
564                -0.709091
565                -0.973978
566                -0.318409
567                 2.219635
568                -0.751207

[569 rows x 30 columns]

**question 15 (1pt)**

What does the following code do? What is in `X_train`, `X_test`, `y_train` and `y_test`?

In [63]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.2, random_state=0)

*Answer here*: This code splits the X_norm and the y dataset into a train and a test set.

**question 16 (2pts)**

Use the training set to compute the opimal values for the modelparameters in a Logistic Regression model (with hyperparameter `random_state` set to 1, all other hyperparameter values should be set to their Scikit-learn default values).

In [66]:
from sklearn.linear_model import LogisticRegression

#start code here
model = LogisticRegression(random_state = 1)
model.fit(X_train, y_train)
#end code here

LogisticRegression(random_state=1)

**question 17 (2pts)**

Given the fitted model, compute predictions on the test set and compute the Area Under the Receiver Operating Characteristic curve (AUC) for these predictions.

In [67]:
from sklearn.metrics import roc_auc_score

#start code here

predictions = model.predict(X_test)
score_auc = roc_auc_score(y_test, predictions)

#end code here

print(score_auc)

0.9637980311209908